In [ ]:
# Operators

In [13]:
## Exercise 1

In [2]:
n = 42

In [3]:
42 = n

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3090476294.py, line 1)

In [4]:
x = y =1

In [5]:
n = 42;

In [6]:
n = 42?

SyntaxError: invalid syntax (2556253988.py, line 1)

In [11]:
n = 42 .

SyntaxError: invalid syntax (2022727080.py, line 1)

In [10]:
x y

SyntaxError: invalid syntax (1567273689.py, line 1)

In [12]:
x*y

1

In [14]:
## Exercise 2

In [15]:
### Exercise 2.1

In [18]:
import math

r = 5 
volume = (4/3) * math.pi * r**3
print(volume)

523.5987755982989

In [19]:
### Exercise 2.2

In [20]:
cover_price = 24.95

discount = 0.4

first_copy_shipping = 3

additional_copy_shipping = 0.75

num_books = 60

total_wholesale_cost = (cover_price * (1 - discount) * num_books) + first_copy_shipping + (num_books - 1) * additional_copy_shipping

print(total_wholesale_cost)

945.4499999999999

In [21]:
### Exercise 2.3

In [22]:
start_hour = 6

start_minute = 52

start_time_minutes = start_hour * 60 + start_minute

easy_pace = 8 + 15/60

tempo_pace = 7 + 12/60

total_run_time = easy_pace + tempo_pace * 3 + easy_pace

end_time_minutes = start_time_minutes + total_run_time

end_hour = int(end_time_minutes // 60)

end_minute = int(end_time_minutes % 60)

print(end_hour, ':', end_minute)

7 : 30

In [23]:
# Strings

In [24]:
## Exercise 2

In [25]:
word = 'banana'
a_count = word.count('a')
print(a_count)

3

In [26]:
## Exercise 3

In [40]:
def is_palindrome(study):
    return study == study[::-1]
print(is_palindrome("study"))

False

In [41]:
## Exercise 4

In [42]:
###any_lowercase1(s): checks if the first character in the string s is a lowercase letter, and returns True if it is, False otherwise;
###any_lowercase2(s): incorrectly returns the string 'True' because it checks for the character 'c' instead of the character in the string s.
###any_lowercase3(s): checks if the last character in the string s is a lowercase letter, returning a result that depends on the last character.
###any_lowercase4(s): correctly checks to see if there is at least one lowercase letter in string s, and returns True if the first lowercase letter is found.
###any_lowercase5(s): checks to see if each character in string s is a lowercase letter, and returns True if all characters are lowercase, otherwise returns False on encountering the first non-lowercase character.

In [43]:
## Exercise 5

In [44]:
def rotate_word(s, n):
    result = ''
    for char in s:
        if 'a' <= char <= 'z':  
            start = ord('a')
            result += chr((ord(char) - start + n) % 26 + start)
        elif 'A' <= char <= 'Z':  
            start = ord('A')
            result += chr((ord(char) - start + n) % 26 + start)
        else:
            result += char  
    return result

print(rotate_word('love', 3))

oryh